/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
    background: #f7f7f7;
}
* {
    box-sizing: content-box ;
    -webkit-box-sizing: content-box ;
    -moz-box-sizing: content-box ;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 999999999999; 
    padding-top: 40px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    max-width: 50%;
    max-height: 70%;
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
}
.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 1.5s;
    animation-name: zoom;
    animation-duration: 1.5s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.closePicture {
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;   
    z-index: 111111;
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.closePicture:hover,
.closePicture:focus {
    color: #ef0303;
    text-decoration: none;
    cursor: pointer;
}
.list-pictures .picture-item{
    list-style: none;
    float: left;
    height: 145px;
    overflow: hidden;
    margin-bottom: 8px;
}
.list-pictures {
    overflow: auto;
    max-height: 545px;
    padding-left: 0px;
}
.picture-item {
    width: 22%;
    margin: 0px 10px;
}
.fix-btn {
    clear: left;
    display: block;
    float: right;
    position: absolute;
    bottom: 24px;
    right: 22px;
}
.pictures-wap {
    border-bottom: solid 1px rgba(0,0,0,0.12);
    overflow: auto;
    margin-top: 20px;
}
.btn-chat-close {
    border: none;
    background-color: #ffffff;
    float: right;
}
.drop-picture {
    border: 2px dashed rgb(17,173,157);
    border-radius: 4px;
    height: 350px;
    width: 100%;
    text-align: center;
}
.btn-picture-item {
    background-color: rgba(0,0,0,0);
    border : none;
    color : #fff;
    visibility: hidden;
}
.title-form-send-picture{
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
}
.picture-item {
    position: relative;
}
.name-picture {
    word-break: break-all;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}
.chat-form-custom-file {
    text-align: right;
    height: 40px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 130px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
}
.chat-form-custom-file-sp {
    text-align: right;
    height: 40px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
}
.chat-form-custom-file-count__data {
    margin-left: 5px;
}
.btn-picture-item {
    position: absolute;
    top : 0;
    right: 0;
}
.chat-form-custom-file-count__notice {
    position: absolute;
    right: 0;
    top: -55px;
    display: block;
    height: 45px;
    width: 100px;
    line-height: 45px;
    padding: 0 16px;
    margin: 0;
    background-color: rgb(236,64,122);
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
}
.chat-form-custom-file-count__data.color_notice {
    color: rgb(236,64,122);
}
.chat-form-custom-file-count__data {
    height: 45px;
    padding: 0px;
    margin: 3px;
}
.chat-form-custom-file-count__notice::after{
    content: "";
    position: absolute;
    right: 25px;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid rgb(236,64,122);
}
.content-picture:hover .btn-picture-item {
    visibility: visible;
}
.picture-error {
    width: 100%;
    height: 90px;
    background-color: deeppink; 
    text-align: center;
    z-index: 99;
    margin-bottom: 16px;
}
.text-picture-error {
    color: rgba(255, 255, 255, 1);
    font-family: 'Hiragino Kaku Gothic Pro';
}
.icon-info {
    text-align: center;
    display: block;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 6px;
}
.btn-file {
    background-color: #ffffff;
    border : none;
    margin-top: -5px;
    border-right: 1px solid rgba(0,0,0,0.12);
    height: 24px;
    padding-right: 10px;
} 
.chat-form-wrap-picture {
    display: block;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.text-drop-picture {
    color: rgba(17, 173, 157, 1);
    font-size: 15px;
    font-weight: bold;
    padding-top: 130px;
    line-height: 50px;
}

#init-loading {
    display: none !important;
}
textarea.secondary-comment__input {
    height: 70px;
    overflow-y: hidden
}
.hiddenClass {
    display: none;
}
.timeline__btn{
    padding:0;
}
a:hover {
    color: rgb(17,173,157);
}
.auth-box {
    min-width: 300px;
    width: auto;
}
.navbar-brand {
    height: auto
}
.sitelogo__image {
    max-width: 124px;
}
.navbar-brand .sitelogo__image {
    margin: 0 auto
}
.timeline__main {
    word-break: break-word;
}  
hr {
    bottom: -1px !important;
}
.secondary {
    /* height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; */
    height: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #2B293A;
    transition: 0.5s;
    padding-top: 60px;
}
.sitelogo.navbar-brand {
    padding: 9px 0;
    display: block;
    float: none;
}
.menu-collapse .btn-tab {
    padding: 23px;
    height: auto;
    display: block;
    line-height: 18px;
}
.secondary-profile {
    margin-top: 0
}
.global-header__logout {
    width: auto
}
.fix-top-menu {
    position: fixed;
    z-index: 9999;
    cursor: pointer;
}
.content {
    padding: 100px 10px 48px 10px
}
.textMessageError {
    text-align: center;
    height: 100px;
    margin-top: 50px;
    font-weight: bold;
    font-size : 20px;
}
.btn-reset-password {
    float: right;
}
.menu-header {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.16);
}
.navtab-header .btn-tab {
    height: auto;
    float: left;
    width: 20%;
    padding:0;
    display: inline-block;
    text-align: center;
}
.navtab-header button {
    padding: 0 !important;
    min-width: auto !important;
}
.navbar-toggle {
    margin: 0 auto;
    padding: 13px 0 6px;
    width: 100%;
}
.navtab-header > button {
    min-width: auto !important;
    width: 25%;
    vertical-align: middle;
    padding: 9px 0 !important;
}
.navtab-header {
    padding: 0;
}
.list_comment{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}
.list_comment .list__item{
    width: 100%;
}
.layout_chat 
.chat-box-form{
    z-index: 0;
    height: auto;
}
.primary__inner_template{
    padding: 24px 24px;
}
.chat-form-custom_sp{
    display: none;
}
.send-pictures-sp {
    display : none;
}
.chat-form-main_sp{
    display: none;
}
.show_template_sp{
    display: none;
}
.chat-form-custom-definition__data_sp{
    display: none;
}
.btn-close-tab{
    display: none;
}
.chat-box-customer{
    z-index: 9999;
}
.btn-round{
    height: 24px !important;
    line-height: 24px !important;
    padding: 0 8px !important;
    margin: 0 4px !important;
    border-radius: 23px !important;
    font-size: 13px !important;
    border: solid 1px rgb(17,173,157) !important;
    color: rgb(17,173,157) !important;
    background: #fff !important;
}
.secondary-comment-edit__btn{
    padding: 0 !important;
}
.chat-call-history{
    height: 330px !important;
}
.list-check-box-sp{
    display: none;
}
.write_down_sp{
    display: none;
}
.color_default-sp{
    display: none;
}
.chat-memo-history__list_sp{
    display: none;
}
.call-log-sp{
    display: none;
}
.secondary-definition-wrap{
    height: calc(100vh - 332px) !important;
}
.chat-memo__input-sp{
    display: none;
}
.title-list-check-sp{
    display: none;
}
.btn-tab[data-badge]:after{
    top: 6px;
    right: 6px;
}
.dialog-content{
    width: 425px !important;
}
.template-title{
    display: none;
}

.display-mobile {
    display: none;
}

.timeline-write-down-sp{
    display: none;
}
.timeline-form-wrap-sp{
    display: none;
}
.link-to-home-help{
    display: none !important;
}
.link-to-staff-log{
    display: none !important;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.stella-title{
    display: none;
}

.drop-down {
    position: relative;
}

.drop-down__selected {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}

.drop-down__list {
    margin: 0;
    padding: 0;
    border: 1px solid #e0e0e0;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    list-style: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: -3px;
    max-height: 228px;
    overflow: scroll;
    display: none;
}

.drop-down__item {
    padding: 9px 8px;
    cursor: pointer;
    background: #fff;
}

.drop-down__item:hover {
    background: #11ad9d;
    color: #fff;
}

.template-title label{
    bottom: -50px !important;
}

.reset_pass{
    font-size: 20px;
    color: rgba(17, 173, 157, 1);
    text-align: center;
    margin-bottom: 24px;
}
.password_announce{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.announce{
    margin-top: 240px
}
@media screen and (min-width: 1025px) {
    .dialog-notice {
        left: 716px;
        z-index: 1031;
    }

    .list.blog_list>.list__item {
        width: 50%;
    }
}

.prof-thumbnail-section__left {
    float: left;
    width: 272px;
    margin-right: 22px;
}

.prof-thumbnail-section__right {
    float: left;
    width: calc(100% - 294px);
}

.prof-thumbnail-section__left .textfield__input label {
    right: -11px!important;
    bottom: -48px!important;
}

.prof-thumbnail__button i {
    margin-right: 15px!important;
}

.prof-thumbnail {
    margin-top: 10px;
}

.thumbnail-guide {
    margin-top: 21px;
    padding: 16px 24px 24px 24px;
    background-color: rgba(235, 250, 248, 1);
}

.thumbnail-guide__title {
    font-size: 16px;
    color: rgba(17, 173, 157, 1);
    font-weight: bold;
    margin-bottom: 10px;
}

.thumbnail-guide__desc {
    font-size: 15px;
    margin-bottom: 17px;
}

.thumbnail-guide__desc span {
    color: rgba(236, 64, 122, 1);
}

.thumbnail-guide__image img {
    width: 100%;
    margin: 0;
}

.primary-title .primary-title__subtitle.subtitle_setting {
    margin-left: 16px;
}

.mission-list {
    background: #fff;
    border-radius: 5px;
}

.mission-item {
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    list-style-type: none;
    display: flex;
}

.home-mission-list .mission-item:last-child {
    border: none;
}

.home-mission-list .mission-item__left {
    width: 70.75%;
}

.mission-item__left {
    cursor: pointer;
}

.home-mission-list .mission-item__right {
    width: 29.25%;
    padding-left: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.mil__header {
    overflow: hidden;
}

.mil__header > * {
    float: left;
}

.mission-item__level {
    display: block;
    border-radius: 2px;
    width: 44px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-right: 8px;
}

.mission-item__title {
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
}

.mission-item__progressBar {
    margin-top: 8px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.08);
    position: relative;
}

.mission-item__completed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 3px;
    display: none;
}

.mission-item.started .mission-item__completed {
    display: block;
}

.mil__footer {
    margin-top: 8px;
    overflow: hidden;
}

.mission-item__progress {
    float: left;
    font-size: 12px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
}

.mission-item__point {
    float: right;
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    line-height: 1;
}

.mission-item__point span {
    font-weight: bold;
}

.mission-item__btn button {
    width: 100%;
    box-sizing: border-box;
    line-height: 42px;
    margin-top: 9px;
    height: auto;
}

.mission-level-4 .mission-item__level,
.mission-level-4 .mission-item__point span,
.mission-level-4.completed .mission-item__progress,
.mission-level-4 .mission-item__hint,
.mission-level-4 .mission-item__rewardContent .congratulations,
.mission-level-4 .mission-item__rewardContent .point {
    color: rgba(235, 61, 61, 1);
}

.mission-level-4 .mission-item__level {
    background-color: rgba(235, 61, 61, 0.1);
}

.mission-level-4 .mission-item__completed {
    background-color: rgba(235, 61, 61, 1);
}

.mission-level-1 .mission-item__level,
.mission-level-1 .mission-item__point span,
.mission-level-1.completed .mission-item__progress,
.mission-level-1 .mission-item__hint,
.mission-level-1 .mission-item__rewardContent .congratulations,
.mission-level-1 .mission-item__rewardContent .point {
    color: rgba(17, 173, 157, 1);
}

.mission-level-1 .mission-item__level {
    background-color: rgba(17, 173, 157, 0.1);
}

.mission-level-1 .mission-item__completed {
    background-color: rgba(17, 173, 157, 1);
}

.mission-level-2 .mission-item__level,
.mission-level-2 .mission-item__point span,
.mission-level-2.completed .mission-item__progress,
.mission-level-2 .mission-item__hint,
.mission-level-2 .mission-item__rewardContent .congratulations,
.mission-level-2 .mission-item__rewardContent .point {
    color: rgba(255, 144, 0, 1);
}

.mission-level-2 .mission-item__level {
    background-color: rgba(255, 144, 0, 0.1);
}

.mission-level-2 .mission-item__completed {
    background-color: rgba(255, 144, 0, 1);
}

.mission-level-3 .mission-item__level,
.mission-level-3 .mission-item__point span,
.mission-level-3.completed .mission-item__progress,
.mission-level-3 .mission-item__hint,
.mission-level-3 .mission-item__rewardContent .congratulations,
.mission-level-3 .mission-item__rewardContent .point {
    color: rgba(236, 64, 122, 1);
}

.mission-level-3 .mission-item__level {
    background-color: rgba(236, 64, 122, 0.1);
}

.mission-level-3 .mission-item__completed {
    background-color: rgba(236, 64, 122, 1);
}

.mission-item__detail {
    max-height: none!important;
}

.mission-item__detail .mission-item__level, .mission-item__reward .mission-item__level {
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
    height: 25px;
    line-height: 25px;
}

.mission-item__detail .mission-item__title {
    font-size: 20px;
    margin-left: 0;
    font-weight: normal;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 16px;
}

.mission-item__detail .mission-item__desc-1, .mission-item__detail .mission-item__desc-2 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
}

.mission-item__hint {
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mission-item__hint span {
    color: rgba(255, 236, 0, 1);
}

.mission-item__start {
    text-align: center;
    margin-bottom: 20px;
}

.mission-item__close {
    text-align: center;
}

.mission-item__reward .mission-item__level {
    margin-bottom: 0;
}

.mission-item__rewardContent {
    text-align: center;
    position: relative;
}

.mission-item__rewardContent img {
    margin-bottom: 0;
}

.mission-item__rewardContent .congratulations, .mission-item__rewardContent .point {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
}

.mission-item__rewardContent .congratulations {
    top: 25px;
    width: 100%;
}

.mission-item__rewardContent .point {
    bottom: 41px;
    width: 100%;
}

.mission-item__getReward {
    text-align: center;
    margin: -17px 0 20px 0;
}

.mission-item__getReward button {
    height: 44px;
    padding: 0 30px;
}

.mission-item__detail a, .mission-item__reward a {
    cursor: pointer;
}

.setting-mission .mission-item {
    padding: 16px 32px 16px 16px;
}

.setting-mission .mission-item__left {
    width: 66.22%;
    padding-right: 16px;
    border-right: 2px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.setting-mission .mission-item__right {
    width: 33.78%;
}

.setting-mission .mission-item__right > * {
    float: left;
}

.setting-mission .mission-item__point {
    margin-left: 16px;
    line-height: 55px;
    font-size: 15px;
    font-weight: bold;
}

.setting-mission .mission-item__btn {
    float: right;
    width: 45.45%;
}

.setting-mission .mission-item__btn button {
    width: 100%;
}

.setting-mission ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mission-archived-item {
    padding: 10px 16px;
}

.mission-archived-item__left img {
    margin: 0;
}

.mission-archived-item__right {
    width: calc(100% - 70px);
    margin-left: 16px;
}

.mission-archived-item .mission-item__header {
    margin: 10px 0;
}

.mission-archived-item .mission-item__header > *, .mission-archived-item .mission-item__footer > * {
    float: left;
}

.mission-archived-item .mission-item__archivedTime {
    font-size: 12px;
    margin-right: 24px;
    line-height: 1;
}

.mission-archived-item .mission-item__point {
    font-size: 12px;
    line-height: 1;
}

.mission-archived-item .mission-item__point span {
    font-weight: normal;
}

.home-mission-list h2 a {
    margin-left: 8px;
    font-size: 13px;
}

body.lock-scroll {
    overflow: hidden;
    height: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .auth-box {
        width: 416px;
    }
    .sitelogo__image {
        max-width: 255px;
    }
    .secondary-header {
        display: none
    }
    .navbar-fixed-bottom {
        bottom: auto;
        top: 0
    }
}

.template-title {
    height: 72px!important;
}

.template-title input[type="text"] {
    margin-top: 14px!important;
}

.labelfield {
    margin-top: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
}

.setting-external-url .textfield__textarea {
    height: 40px!important;
}

.setting-external-url {
    margin-bottom: 40px!important;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-fixed-bottom {
        top: 0;
        bottom: auto;
    }
    .content {
        padding: 100px 32px 48px 288px;
    }
}

.message-dialog > div {
    height: auto!important;
}

.main-content > div {
    float: left;
    width: 50%;
}

.main-content .home-mission-list {
    float: right;
}

.mission-empty {
    padding: 48px 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    line-height: 1;
}

.home-mission-list > a {
    cursor: pointer;
}

.mission-item__detail .mission-item__level, .mission-item__reward .mission-item__level {
    font-size: 15px;
}

.mission-item__start button, .mission-item__getReward button {
    font-size: 15px;
    font-weight: bold;
}

.mission-item__close a {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.38);
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
 }


 /****/
@media (max-width: 767px) { 
    .btn-tab:hover {
        color : rgba(73,73,88, 0.6)
    }
    .btn-tab.is-active:hover {
        color: rgb(17,173,157);
    }
    .showText{
        opacity: 1 !important;
    }
    .content__title{
        display: none;
    }
    .secondary-header .navbar .navbar-default .navbar-fixed-top{
        height: 44px;
    }
    .navbar-header {
        width: auto !important;
    }
    .secondary-hidden {
        left: -100%
    }
    .secondary-show {
        left: 10
    }
    .secondary{
        padding-top: 0;
    }
    .secondary-header{
        height: 44px;
        background-color: #fff;
    }
    .header-back{
        height: 44px;
        background-color: #fff;
    }
    .bar{
        margin-top: 50px;
    }
    
    .overlay.secondary-show {
        position: fixed;
        background: #0000006e;
        width: 100%;
        height: 100%;
        z-index: 1200;
    }
    .secondary {
        z-index: 1300;
        width: 80%;
    }
    .navbar-default .navbar-toggle {
        border: none;
    }
    .navbar-header {
        background: transparent !important
    }
    .subtitle_setting{
        display: inherit;
    }
    .sitelogo.navbar-brand{
        display: none;
    }
    .content{
        padding-top: 10px;
    }
    .container{
        height: 44px;
        padding: 0;
    }

    .navtab-header{
        height: 50px;
    }
    .navtab-header a button div div {
        line-height: 20px;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.54);
    }
    .navtab-header a{
        padding: 0;
    }
    .dialog-notice {
        left: 0;
        min-width: 96%;
        margin-left: 2%;
        margin-top: 5px;
    }
    .dialog-notice > div {
        width: 100%;
    }
    .dialog-notice ul {
        max-height: 332px !important;
    }
    .timeline-form-wrap{
        height: 140px;
    }
    .timeline-form-wrap form{
        height: 80px;
    }
    .timeline-form-main{
        height: calc(100vh - 108px);
    }
    .timeline-form-actions{
        padding: 12px 16px 12px;
    }
    .timeline-form {
        height: 100%;
        margin: 0px 16px 0px 16px;
    }
    .timeline-form div{
        height: 100% !important;
    }
    .timeline-form div div{
        height: 100% !important;
    }
    .timeline-form div div textarea{
        height: 98% !important;
    }
    .frame-table{
        overflow-x: hidden;
        overflow: scroll;
    }
    .frame-table::-webkit-scrollbar { 
        display: none; 
    }
    .checkout-box{
        min-width: 92%;
    }
    .timeline__btn{
        padding: 0;
        margin: 0;
    }
    .timeline-form-actions__file{
        padding:0;
        min-width: 0px;
    }
    .timeline__btn::after{
        right: 12px !important;
    }
    .timeline__inner .list .list__item{
        width: 50%;
    }
    .seal-name__text {
        overflow: scroll;
        width: 75px;
    }
    .review__main{
        word-break: break-all;
    }
    .primary__inner .btn-wrap{
        display: inline-flex;
        width: 100%;
    }
    .primary__inner .btn-wrap input{
        font-size: 15px;
        width: 100%;
    }
    .bottom_menu{
        padding-top: 60px;
        height: 100%;
    }
    .bottom_menu_list{
        list-style: none;
        background-color: #fff;
        padding-top: 10px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .bottom_menu_list > li{
        border-top: 1px solid #E5E5E5;
    }

    .bottom_menu_list li{
        border-bottom: 1px solid #E5E5E5;
        padding: 13px;
    }
    .bottom_menu_list li span{
        color: grey;
    }
    .bottom_menu_list li a{
        width: 100%;
        display: block;
        box-sizing: border-box;
    }
    .bottom_list_logout{
        padding: 13px;
        margin-top: 10px;
        background-color: #fff;
    }
    .bottom_list_logout span{
        color: grey;
    }
    .lead-nav{
        overflow-x: scroll;
        margin: 42px -10px 8px !important;
    }
    .definition__data .list.flex_start .list__item{
        float: left;
        padding: 4px 4px;
    }
    .primary__inner_template{
        padding: 0px;
    }
    /* .primary-title{
        display: none;
    } */
    .primary-title__description{
        font-size: 12px;
        font-weight: 600;
    }
    .primary-title__description-template{
        padding-bottom: 15px;
    }
    .template-block__title{
        padding-left: 12px;
        width: 96%;
    }
    .template-block__title>div{
        height: 40px !important;
    }
    .template-block__body{
        padding: 45px 0px 0px 0px;
    }
    .template-block{
        border-bottom: 1px solid #E5E5E5;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 8px;
        padding-bottom: 4px;
    }
  
    .template-block__btn{
        margin-top: 60px;
        height: 25px;
        width: 50px;
        position: relative;
    }
    .chat-box-customer{
        right: -256px;
        transition: 0.2s;
    }
    .show_chat-box-customer{
        transition: 0.2s;
        right: 0 !important;
        z-index: 999;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        z-index: 9999;
    }
    /* .wrap-chat-box-customer{
        width: 100%;
        height: 100%;
        z-index: 99999;
    } */
    .chat-karte-list-wrap{
        height: 100%;
        width: 85%;
        margin-left: 15%;
        background: white;
    }
    .chat-karte-list .list__item{
        height: 33%;
    }
    .chat-memo-history-hidden{
        display: none;
    }
    .chat-karte-list-wrap-hidden{
        display: none;
    }
    .chat-memo-history__nav-hidden{
        display: none;
    }
    .chat-memo__fullscreen-hidden{
        display: none;
    }
    .content.layout_chat{
        width: 100%;
        height: 90%;
        padding: 0;
    }
    .chat-box-form{
        padding:0;
        bottom:0px;
    }
    .chat-form-custom{
        display: none;
    }
    .chat-form-main{
        display: none;
    }
    .chat-form-custom_sp{
        display: block;
        padding-bottom: 20px;
    }
    .send-pictures-sp {
        display: block;
        overflow: auto;
    }
    .list-pictures-sp {
        list-style: none;
        float: left;
    }
    .picture-item-sp {
        width: 14%;
        margin: 0px 10px;
        list-style: none;
        float: left;
        height: 60px;
        overflow: hidden;
    }
    .btn-file-sp {
        background-color: #ffffff;
        border: none;
        height: 24px;
    }
    .btn-picture-item-sp {
        margin-left: -17px;
        margin-top: -7px;
        height: 25px;
        width: 18px;
        color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        border: none;
        background-color: rgba(117, 117, 117, 1);
        position: absolute;
    }
    /* .content-picture:hover .btn-picture-item-sp {
        visibility: visible;
    } */
    .chat-list-delimiter__text{
        z-index: 40;
    }
    .chat-list-delimiter{
        z-index: 0;
    }
    .chat-form-main_sp{
        display: block;
        overflow: hidden;
        padding-bottom: 5px;
    }
    .chat-memo-history {
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }
    .chat-memo-wrap{
        height: 100%;
        width: 85%;
        margin-left: 15%;
        background: white;
    }
    .chat-memo{
        height: 100%;
    }
    .chat-memo__input{
        height: 100%;
        border: none;
    }
    .chat-form__input{
        height: 30px;
        padding: 11px 12px 0px 0px;
        width: 100%;
    }
    .chat-form-btn{
        padding: 6px;
        width: 18%;
        margin-left: 6px;
    }
    .chat-form-btn button {
        float: right;
    }
    .chat-form-custom__pay{
        margin-left: 10px;
        float: left;
        padding: 0 6px 0 0;
    }
    .chat-form-custom-definition__title{
        display: none;
    }
    .chat-form-custom__pay:after{
        display: none;
    }
    .chat-form-custom-count{
        top:40px;
        padding: 8px;
        z-index: -1;
        color: darkgrey;
    }
    .show_template_sp{
        float: left;
        display: block;
    }
    .btn_show_template{
        height: 24px;
        line-height: 24px;
        padding: 0 8px;
        margin: 0 4px;
        border-radius: 23px;
        font-size: 13px;
        border: solid 1px rgb(17,173,157);
        color: rgb(17,173,157);
        background: #fff;
    }
    .dialog-chat div div{
        width: 80%;
        margin-left: 4%;
    }
    .dialog-chat h3{
        font-size: 20px;
    }
    .dialog-chat div {
        font-size: 13px;
    }
    #lead-nav .list.lead_nav{
        white-space: nowrap;
    }
    .list__item {
        display: inline-block;
        float: none;
    }
    .nav_right_chat{
        display: inline-block;
        float: right;
        padding: 12px 6px 12px 0px;
    }
    .pencil{
        display: none;
    }
    .user{
        display: none;
    }
    .show-pencil{
        display: block;
        background: none;
        float: left;
        border: none;
        outline: none;
        height: 24px;
    }
    .show-user{
        background: none;
        border: none;
        outline: none;
    }
    .message_text{
        /* width: 130px;
        display: inline-lock; */
        float: left;
        margin-top: 16px;
        color:rgb(17,173,157)
    }
    .link-to-home{
        display: none;
    }
    .show-link-to-home{
        float: left;
        margin-left: 5px;
        margin-top: 16px;
    }
    .chat-list-area{
        padding-bottom: 120px;
        height: auto;
        scroll-behavior: smooth;
    }
    .user_name_hidden{
       display: none;
    }
    .user_name_show{
        font-size: 18px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: 500;
        float: left;
        width: 40%;
        text-align: center;
        padding-top: 12px;
        padding-left: 25px;
    }
    .chat-form-custom-definition__data{
        display: none;
    }
    .hiddenClass{
        display: none !important;
    }
    .hiddenNotImportant{
        display: none;
    }
    .chat-form-custom-definition__data_sp{
        display: none;
    }
    .chat-form-custom-definition__data_sp-show{
        display: block;
        height: 200px;
        width: 90%;
        z-index: 9999;
        margin-left: 5%;
        background-color: #fff;
        position: absolute;
        top: -164px;
    }
    .chat-form-custom-definition__data_sp-show ul{
        box-shadow: 0px 4px 4px 8px #F5F5F5;
    }
    .chat-form-custom-definition__data_sp-show ul li{
        width: 50%;
        margin-top: 12px;
    }
    .chat-form-custom-definition__data_sp-show .btn-round{
        height: 16px;
        line-height: 16px;
        border-radius: 23px !important;
        font-size: 13px;
        border: solid 1px rgb(17,173,157) !important;
        width:  80%;
        margin-left: 4% !important;
        padding: 0 8px 0 8px !important;
    }
    .chat-form-custom-definition__data_sp .chat-form-custom-definition__data_sp-show{
        display: inline-block;
    }
    .btn_hide_template{
        height: 24px;
        line-height: 24px;
        padding: 0 8px;
        margin: 0 4px;
        border-radius: 23px;
        font-size: 13px;
        border: solid 1px grey;
        color: grey;
        background: #fff;
    }
    .hide_template_sp{
        display: none;
    }
    .hide_template_sp-show{
        display: block;
        float: left;
    }
    .logout-dialog-btn-wrap p {
        font-size: 0.9em !important;
    }

    .dialog__content {
        width: 100% !important;
        text-align: center;
        margin-left: 0 !important;
    }

    .dialog__content div,
    .dialog__content div div {
        width: 100% !important;
        margin-left: 0 !important;
        padding: 6px 0 0;
    }

    .dialog__content::parent {
        width: 90%;
    }

    .list.column_4 .list__item:last-child {
        width: calc(100% / 4 - 1px);
        border-left: 1px solid grey;
    }
    .btn-close-tab{
        width: 36px;
        height: 36px;
        top:0;
        position: fixed;
        margin-left: 2%;
        display: initial;
    }
    .btn-close-tab i {
        color: white;
        font-size: 36px;
    }
    .logout-dialog{
        width: 90%;
    }
    .logout-dialog-list .list__item:last-child{
        width: 44%;
    }
    .logout-dialog-list .list__item:last-child hr{
        width: 85% !important;
    }
    .dialog-chat-pc{
        display: none;
    }
    .secondary-comment-edit__btn{
        padding: 0 !important;
    }
    .drag-and-drop__title{
        font-size: 14px;
    }
    .btn-raised{
        margin-left: auto;
        margin-right: auto;
    }
    .list-check-box{
        display: none;
    }
    .list-check-box-sp{
        display: initial;
    }
    .write_down_sp{
        display: initial;
        font-weight: normal;
        font-size: 12px;
        color: rgba(0,0,0,0.38);
    }
    .link-setting-pass{
        font-size: 14px;
        color: rgba(17, 173, 157, 1);
    }
    .color_default-sp{
        display: initial;
    }
    .write_down{
        display: none;
    }
    .definition__data p{
        font-size: 14px;
    }
    .primary__inner updateTeller .color_default{
        display: none;
    }
    .primary{
        margin: 0 0 8px;
    }
    .definition__data.margin_bottom{
        margin: 0 0 24px;
    }
    .color_accent{
        width: 100%;
    }
    .prof-thumbnail__button{
        width: auto !important;
    }
    .input2{
        background: rgb(17,173,157) !important;
        color: rgba(255, 255, 255, 1);
    }
    .input1{
        color: rgba(0, 0, 0, 0.87);
    }
    .data_genres{
        overflow-x: hidden;
        overflow: scroll;
    }
    .data_genres > ul.list.flex_start {
        width: 420%;
    }
    .data_methods{
        overflow-x: hidden;
        overflow: scroll;
    }
    .data_methods > ul.list.flex_start {
        width: 720%;
    }
    .data_styles{
        overflow-x: hidden;
        overflow: scroll;
    }
    .data_styles > ul.list.flex_start {
        width: 360%;
    }
    .primary__inner{
        overflow-x: hidden;
        overflow: scroll;
    }
    .chat-memo-history__list_sp{
        display: initial;
    }
    .chat-call-history_display{
        display: initial !important;
    }
    .call-log-sp-show{
        display: initial;
    }
    .chat-call-history{
        background: white !important;
        height: 90% !important;
    }
    .dialog-notice::before{
        left: 95%;
    }
    .dialog-notice::after{
        left: 95%;
    }
    .global-header__timeline button{
        top: -2px !important;
    }
    .global-header__checkout button{
        top: -2px;
    }
    .fa-product-hunt{
        font-size: 22px;
        color: rgba(0, 0, 0, 0.54);
        position: relative;
        display: block;
        user-select: none;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        width: 100%;
        top: -3px;
    }
    .fa-file-alt{
        top: -3px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.54);
        position: relative;
        display: block;
        user-select: none;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        width: 100%;
        /* background-color: rgba(0, 0, 0, 1); */
    }
    .secondary-definition-wrap {
        height: calc(100vh - 277px) !important;
    }
    .left-badge span{
        width: 22px !important;
        height: 22px !important;
        font-size: 12px !important;
    }
    .noti_icon span{
        width: 22px !important;
        height: 22px !important;
        font-size: 12px !important;
    }
    .link-to-staff{
        color:rgba(17, 173, 157, 1);
        margin-bottom: 20px;    
        margin-left: 10px;
        display: block;
        text-decoration: none !important;
    }
    .blog_list .list__item:last-child .card{
        margin: 0;
    }
    .blog_list>.list__item{
        width: 50% !important;
        display: flex;
        margin-bottom: 24px;
    }
    .blog_list{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    
    .blog_list .list__item .card{
        width: 96%;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 0 !important;
    }
    /* .bar-line__icons{
        display: none !important;
    } */
    .bar-line__text{
        color: rgba(0, 0, 0, 0.87);
        font-size: 13px;
        margin: 0;
    }
    .active-bottom-item div div{
        color: rgba(17, 173, 157, 1) !important;
        font-weight: bold;
    }
    .chat-memo__input-sp{
        display: initial;
        height: 100%;
        width: 95% !important;
        border: none;
        outline: none;
    }
    .chat-memo__input{
        display: none;
    }
    .content__title.lv_2{
        font-size: 14px !important;
        color: rgba(0, 0, 0, 0.87) !important;
        font-weight: bold;
        margin: -6px 8px;
    }
    .card-main__figure{
        height: 110px;
    }
    .card__inner .list .list__item{
        width: 100% !important;
        overflow-x: hidden;
        overflow: scroll;
    }
    .hidden-sp{
        display: none;
    }
    .title-list-check-sp{
        display: inline-block;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 16px;
    }
    .noScroll{
        overflow: hidden;
    }
    .dialog-content{
        width: 90% !important;
    }
    .dialog-content h3{
        font-size: 16px !important;
        padding: 8px 24px 0 !important;
    }
    .textfield__textarea{
        height: 60px !important;
    }
   
    .definition.wide_bottom {
        margin: 0 0 32px;
    }
    .primary-title__subtitle{
        margin-top: 10px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.38);
    }
    .primary-title__main{
        font-weight: bold;
        font-size: 16px;
    }
    .textfield__textarea-sp div hr{
        bottom:0px !important;
    }
    .textfield__textarea-sp label{
        bottom: -50px !important;
    }
    .chat-box-form__typing{
        left: 56% !important;
    }
    .avatar-dialog{
        width: 300px !important;
        transform: translate(0px, 48px) !important;
    }
    .avatar-dialog div h3{
        text-align:center;
        padding:12px 0px 12px !important;
        font-size:16px !important;
    }
    .chat-form-custom-count__notice{
        display: none;
    }
    .bar.take_notice{
        margin-bottom: -38px;
    }
    .dialog-notice__content p{
        text-align: justify;
    }
    .definition__data .textfield__input{
        width: 100% !important;
    } 
    .primary-title-template{
        padding: 4px 12px 0 !important;
        border-bottom: 1px solid #E5E5E5;
    }
    #telephone_number{
        font-size: 14px !important;
    }
    #mail_address{
        font-size: 14px !important;
    }
    .btn-dialog{
        margin: 0 !important;
    }
    .btn-bottom-dialog{
        margin-bottom: 0px !important;
    }
    .btn-setting-1,.btn-setting-2,.btn-setting-3{
        margin-bottom: 8px !important;
    }
    .prof-dialog-wrap{
        border-bottom: none !important;
        overflow-y: hidden;
        max-height: none !important;
    }
    .prof-dialog__button{
        padding: 1px !important;
    }
    .template-title{
        display: initial;
        color: rgba(0, 0, 0, 0.38);
    }
    .card-main__title{
        font-size: 16px !important;
    }
    .card-main__time{
        font-size: 12px !important;
    }
    .icon-back{
        font-size: 36px !important;
        position: absolute;
        line-height: 44px;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.6);
    }
    .component-title{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        display: block;
        text-align: center;
        line-height: 44px;
    }
    .timeline-write-down-sp{
        margin-top: 50px;
        background-color: white;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.38);
        text-align: left;
        padding: 6px;
        display: inherit;
    }
    .timeline-form-wrap-sp{
        display: initial;
    }
    .timeline-write-down-sp span {
        width: 90%;
        display: inline-flex;
    }
    .timeline-write-down-sp img{
        float: right;
    }
    .timeline{
        margin: 0 0 10px !important;
    }
    .timeline-list {
        padding: 12px 0 0;
    }
    .icon-close{
        position: relative;
        font-size: 32px;
    }
    .buttonClose{
        float: right;
        background: none;
        outline: 0px;
        border: 0px;
        margin-right: 20px;
        width: 24px;
        height: 50px;
    }
    .close-timeline{
        height: 48px;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .content-css{
        padding: 0px !important;
    }
    #timelineContent--undefined-18059{
        height: 90%;
    }
    .help-form-wrap {
        margin: 56px 0 32px;
    }
    .help-content{
        margin: -16px 0 24px;
    }
    .timeline__btn i{
        float: left;
        margin-top: 6px;
    }
    .timeline__main{
        word-wrap: break-word;
    }
    .lead-nav-blog{
        margin: 0 !important;
        overflow-x: scroll;
    }
    .lead-nav-blog ul{
        width: 280%;
    }
    .content__title.lv_2{
        display: inherit;
    }
    .link-to-staff-log{
        font-size: 12px;
        color: rgba(17, 173, 157, 1);
        margin: 8px 0px 12px;
        display: inherit !important;
    }
    .link-to-home-help{
        font-size: 12px;
        color: rgba(17, 173, 157, 1);
        margin: 8px 0px 12px;
        display: inherit !important;
    }
    .password_title{
        display: initial !important;
        color: rgba(0,0,0,0.38) !important;
    }
    .service_title{
        display: initial !important;
        font-size: 14px !important;
        color: rgba(0,0,0,0.87) !important;
    }
    .stella-title{
        display: inherit;
        font-size: 16px;
        font-weight: normal;
        color: rgba(0,0,0,0.87);
        margin-bottom: 16px;
    }
    .password_input{
        margin: 0 0 8px !important;
    }
    .password_input div{
        width: 100% !important;
    }
    .review-content{
        margin-top: 50px;
        padding: 0px !important;
    }
    .review{
        padding: 24px 24px !important;
    }
    #handle_name::-webkit-input-placeholder{
        font-size: 14px;
    }
    /* .chat-form-main{
        position: absolute;
        top: 499px;
        left: 12px;
        height: 30px;
        width: 254px;
        font-family: 'Hiragino Kaku Gothic Pro';
        font-size: 14px;
        color: rgba(0, 0, 0, 0.38);
        text-align: left;
    } */

    .bank-detail .primary > .primary-title, .reward .primary > .primary-title {
        display: none;
    }

    .bank-box {
        border: none;
    }

    .bank-box .table-th-left tr, .bank-box .table-th-left th, .bank-box .table-th-left td {
        height: 30px;
    }

    .bank-box th.table-align-left {
        padding: 0 16px 0 0!important;
        vertical-align: middle;
    }

    .bank-box td.table-align-left {
        padding: 0!important;
    }

    .bank-branches-setting .btn-raised, .bank-account .btn-raised {
        background: rgba(247, 247, 247, 1)!important;
        color: #000;
    }

    .bank-detail .primary__inner, .reward .primary__inner {
        padding: 0;
    }

    .primary-content__body {
        padding: 16px;
    }

    .primary-content__header {
        padding: 16px;
        color: rgba(0, 0, 0, 0.54);
        border-bottom: solid 1px rgba(0,0,0,0.12);
        overflow: hidden;
    }

    .bank-setting .list.japanese_syllabary {
        margin-bottom: 0;
    }

    .hidden-mobile {
        display: none!important;
    }

    .bank-detail .list.flex_start .list__item {
        padding: 7px 0;
        float: left;
        width: 50%;
        min-width: 145px;
    }

    .bank-detail .list.flex_start .list__item a {
        width: auto;
    }

    .bank-detail .primary-title__main {
        margin-bottom: 10px;
    }

    .bank-detail .list.japanese_syllabary .list__item {
        float: left;
        margin-right: 13px;
    }

    .bank-detail .list.japanese_syllabary .bank-link.width_short {
        width: auto;
    }

    .bank-detail .list.japanese_syllabary {
        width: auto;
        padding-left: 4px;
        margin-right: -13px;
    }

    .bank-detail .list.japanese_syllabary > .list__item {
        padding: 0;
    }

    .display-mobile {
        display: block!important;
    }

    .primary-content__header__left {
        color: rgba(0, 0, 0, 0.87);
        float: left;
        margin-right: 37px;
    }

    .primary-content__header__right {
        float: left;
        color: rgba(0, 0, 0, 0.54);
    }

    .bank-account-setting .bank-account-info {
        border-bottom: solid 1px rgba(0,0,0,0.12);
    }

    .pch__row {
        overflow: hidden;
        margin-bottom: 13px;
    }

    .pch__row:last-child {
        margin: 0;
    }

    .bank-setting #lead-nav,
    .bank-initial #lead-nav,
    .bank-branches-setting #lead-nav,
    .bank-branch-initial-setting #lead-nav,
    .bank-account-setting #lead-nav,
    .bank-confirm #lead-nav {
        display: none;
    }

    .reward-default .checkout-box-wrap {
        padding: 8px;
    }

    .reward-default .checkout-box-wrap .checkout_ng {
        display: block;
    }

    .reward-default .checkout-box {
        border-radius: 2px;
    }

    .reward-default .checkout-box__text {
        margin-bottom: 20px;
    }

    .reward .lead-nav {
        margin-bottom: 8px!important;
    }

    .reward-default table {
        width: 100%;
        white-space: normal;
    }

    .reward-default table td {
        word-wrap: break-word;
    }

    .reward-default table th {
        padding: 10px!important;
        vertical-align: middle;
        text-align: center!important;
    }

    .reward-default .first-table table th {
        width: 37%;
    }

    .reward-default .second-table table th:first-child {
        width: 40%;
    }

    .reward-daily .primary-content__body {
        padding: 16px 0 0 0;
    }

    .rdh__date {
        margin-left: 24px;
        height: 28px;
        line-height: 28px;
        float: left;
    }

    .rdh__navigation {
        float: left;
        margin-left: 16px;
        border: 1px solid rgba(0, 0, 0, 0.26);
        border-radius: 3px;
        overflow: hidden;
    }

    .rdh__navigation a {
        float: left;
        display: block;
        text-decoration: none;
        width: 40px;
        text-align: center;
    }

    .rdh__navigation a i {
        height: 28px;
        line-height: 28px;
        color: #efefef;
    }

    .rdh__navigation__prev {
        border-right: 1px solid #dedede;
    }

    .rdh__navigation__next {
        border-left: 1px solid #dedede;
    }

    .rdh__navigation a.is-active i {
        color: #7d7d7d;
    }

    .reward-daily__header {
        margin-bottom: 8px;
        overflow: hidden;
    }

    .reward-daily .table-th-head {
        width: 100%;
    }

    .reward-daily .table-th-head th, .reward-daily .table-th-head td {
        padding: 0 10px;
        height: 36px;
        line-height: 36px;
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }

    .reward-daily .table-th-head th {
        background: none;
        color: #b0b0b0;
    }

    .reward-daily .table-th-head th:first-child {
        width: 37%;
    }
    
    .reward-default .checkout-box__title {
        margin-bottom: 13px;
    }

    .reward .checkout-box-wrap {
        margin-bottom: 0px;
    }

    .reward .checkout-box {
        padding: 16px 16px 24px 16px;
        display: block;
        min-width: auto;
    }

    .reward .checkout-box.checkout_done {
        padding: 40px 30px 20px 30px;
    }

    .reward .checkout-box tr {
        height: auto;
        background-color: #fff!important;
    }

    .reward .checkout-box th, .reward .checkout-box td {
        padding: 0 0 10px 0!important;
        vertical-align: top!important;
        height: auto;
    }

    .reward .checkout-box th {
        text-align: left!important;
    }

    .reward .checkout-box td {
        text-align: right!important;
    }

    .reward .checkout-box tr.table-checkout__result > * {
        padding-top: 14px!important;
    }

    .reward .checkout-box tr.table-checkout__result > *:before {
        margin: 0;
    }

    .reward .table-checkout {
        margin-bottom: 10px;
    }

    .reward-history .primary-title {
        display: none;
    }

    .history-list {
        padding: 0;
        margin: 0;
    }

    .history-item {
        padding: 12px 16px;
        border-bottom: 1px solid #e0e0e0;
    }

    .history-item:last-child {
        border: none;
    }

    .history-item__header {
        overflow: hidden;
        margin-bottom: 12px;
    }

    .hih__left {
        float: left;
    }

    .hih__right {
        float: right;
        font-weight: bold;
    }

    .history-item__body {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
    }
    .warpper-item{
        height: 120px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 16px 0px 0px 16px;
    }
    .top-item{
        margin-bottom: 8px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
    }
    .pay{
        float: right;
        margin-right: 16px;
    }
    .list-info{
        list-style-type: none;
        padding: 0px;
        color: rgba(0, 0, 0, 0.54);
    }

    .reward .checkout-box td, .reward .checkout-box th {
        font-size: 14px;
    }

    .reward .checkout-box .text-secondary {
        font-size: 12px;
    }

    .primary-title.lv_2 .primary-title__main {
        font-size: 14px;
    }

    .reward .frame-table td, .reward .frame-table th {
        font-size: 13px;
        padding: 0 16px;
        line-height: 1.2;
    }

    .bank-detail.content {
        padding-bottom: 10px;
    }

    .bank-detail.content > .primary {
        margin-bottom: 0;
    }

    .reward-daily .table-th-head td, .reward-daily .table-th-head th {
        font-size: 12px;
    }

    .reward-daily .table-th-head tr {
        height: auto;
    }
    .bank-branch-initial-setting .primary__inner {
        overflow: inherit;
    }
    .bank-branch-initial-setting .drop-down {
        margin-bottom: 24px;
    }
    .title-setting-account{
        margin-left: 4px;
    }
    .card__category{
        width: 100%;
    }
    .picker div div div hr{
        display: none;
    }
    .picker div div input{
        font-size: 13px !important;
    }
    .ts-bar{
        height: 16px;
    }
    .ts-p{
        width: 112px !important;
        float: left;
        font-size: 13px;
    }
    .ts-ul1{
        margin: 0px !important;
    }
    .ts-ul1 *{
        margin : 0px !important;
        padding : 0px !important;
        height: 16px !important;
        float: left;
        display: inline-block;
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
    }
    .ts-ul1 > li {
        margin-top: -2px!important;
    }
    .ts-ul1 > li:nth-child(1) {
        width: 90px!important;
        overflow: hidden;
        height: 20px!important;
        margin-right: 5px!important;
    }
    .ts-ul1 > li:nth-child(1) * {
        width: 90px !important;
        height: 20px!important;
    }
    .ts-ul1 > li:nth-child(2) {
        width: 40px!important;
        overflow: hidden;
        height: 20px!important;
    }
    .ts-ul1 > li:nth-child(2) * {
        width: 60px !important;
        height: 20px!important;
    }
    .ts-div2{
        margin: 0px 0px 0px 5px !important;
        width: 54%;
        float: left;
    }
    .ts-div2 > div:nth-child(1){
        margin: 0px;
        height: 16px;
        line-height: 16px;
    }
    .ts-div1{
        float: right;
        padding: 0px;
    }
    .saveDateTime{
        color:rgba(17, 173, 157, 1);
        font-size: 13px;
    }
    .template-title input[type="text"] {
        margin-top: 0!important;
    }

    .prof-thumbnail-section__left, .prof-thumbnail-section__right {
        float: none;
    }

    .prof-thumbnail-section__left {
        margin: 0 0 40px 0;
        width: 100%;
    }

    .prof-thumbnail-section__right {
        width: 100%;
        display: none;
    }

    .main-content > div {
        float: none!important;
        width: 100%!important;
    }

    .home-mission-list {
        margin-bottom: 20px;
    }

    .home-mission-list h2 a {
        font-size: 11px;
        font-weight: normal;
    }

    .mission-list, .mission-empty {
        margin-top: 10px;
    }

    .mission-empty {
        padding: 24px 16px;
        font-size: 14px;
    }

    .mission-item__level {
        font-size: 11px;
        height: 20px;
        line-height: 20px;
    }

    .mission-item__title {
        font-size: 14px;
        line-height: 20px;
    }

    .mission-item__progress, .mission-item__point {
        font-size: 11px;
    }

    .mission-item__btn button {
        line-height: 36px;
        padding: 0 9px;
    }

    .home-mission-list > a {
        margin-left: 8px;
    }

    .setting-mission .mission-item__left {
        width: 70.75%;
        padding: 0;
        border: none;
    }

    .setting-mission .mission-item__right {
        width: 29.25%;
        padding-left: 16px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .setting-mission .mission-item {
        padding: 12px 8px;
    }

    .setting-mission .mission-item__btn {
        width: 100%;
    }

    .setting-mission .mission-item__point {
        font-size: 11px;
        line-height: 1;
        margin: 0;
    }

    .mission-item__detail .mission-item__level {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .mission-item__reward .mission-item__level {
        font-size: 14px;
    }

    .mission-item__detail .mission-item__title {
        font-size: 16px;
    }

    .mission-item__detail .mission-item__desc-1, .mission-item__detail .mission-item__desc-2 {
        font-size: 14px;
    }

    .mission-item__hint, .mission-item__detail a, .mission-item__reward a {
        font-size: 14px;
    }

    .mission-item__detail, .mission-item__reward {
        padding: 16px 16px 24px 16px!important;
    }

    .mission-item__rewardContent .congratulations, .mission-item__rewardContent .point {
        font-size: 16px;
    }

    .mission-item__getReward button {
        height: 36px;
        width: auto;
    }

    .mission-archived-item__left {
        width: 58px;
    }

    .setting-mission .mission-archived-item {
        padding: 8px;
    }

    .mission-archived-item__right {
        margin-left: 12px;
    }

    .mission-archived-item .mission-item__archivedTime {
        font-size: 11px;
    }

    .mission-archived-item .mission-item__point span {
        font-weight: bold;
    }

    .mission-item__rewardContent .point {
        bottom: 35px;
    }
    .password_announce{
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    .password_announce .primary-title__main{
        font-size: 16px !important;
    }
    .password_announce p {
        font-size: 11px;
    }
    .password_announce .btn-wrap a{
        width: 100%;
    }
    .password_announce img{
        width: 180px;
    }
    .img_announce{
        width: 120px
    }
    .announce{
        margin-top: 120px
    }
}


@media (max-width: 991px) { 
    
}
@media (min-width: 321px) and (max-width: 767px) { 
    .auth-box {
        position: relative;
        max-width: 300px;
        transform: none;
        left: auto;
        right: auto;
        padding-top: 25%;
    }

    .password{
        color:rgb(17,173,157);
        font-size:12px;
        font-weight: 500;
    }
}

@media (max-width: 320px) {
    .mission-archived-item__left {
        position: relative;
    }

    .mission-archived-item__left img {
        position: absolute;
        top: 50%;
        margin-top: -29px;
    }
}

@media (max-width: 300px) {
    .user_name_show {
        width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    
 }
@media (min-width: 992px) and (max-width: 1200px) { 
    
 }
@media (min-width: 1200px) { 
    
 }
@media screen and (max-width: 1560px) {
    .chat-form-custom-definition__data .list__item {
        display: block;
        margin-bottom: 10px;
        padding-left: 7px;
        padding-right: 7px;
        float: left;
    }

    .chat-form-custom {
        height: auto;
    }
}